.projects__grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 2.5em;
}

@media (max-width: 600px) {
  .projects__grid {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
}
