.footer {
  padding: 4em 0;
  margin-top: 8em;
  text-align: center;
  border-top: 1px solid var(--clr-surface);
  position: relative;
  z-index: 1;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--clr-fg-muted);
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--clr-primary);
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 4em;
  }
}
